.container {
  padding: calc(50 * (100vw / 1124));
  padding-left: 0;
  display: flex;
}

.sidebar {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(15 * (100vw / 1124)) 0;
  border-right: 1px solid gray;
}

.sidebar__btn {
  width: 100%;
  padding: calc(10 * (100vw / 1124));
  color: #fff;
  text-decoration: none;
}

.sidebar__btn:hover {
  cursor: pointer;
  background-color: rgba(24, 17, 97, 0.3);
}

.sidebar__btn.active {
  background-color: rgba(24, 17, 97, 0.3);
}

.content {
  flex: 1;
  margin-left: calc(40 * (100vw / 1124));
}


.card-container {
  width: 100%;
  height: 15vw;

  display: flex;
  justify-content: space-between;

  border-bottom: 2px solid transparent;
  background-image: linear-gradient(to right,
      rgb(7, 5, 44) 0%,
      rgb(247, 247, 250) 50%,
      rgb(7, 5, 44) 100%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.card {
  width: 30%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border: 2px solid rgb(192, 192, 192);
}

.card-title {
  font-size: calc(30 * (100vw / 1124));
  user-select: none;
}

.card-value {
  font-size: calc(60 * (100vw / 1124));
  user-select: none;
}


.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: calc(10*(100vw / 1124));
}

.table caption {
  margin-bottom: calc(10 * (100vw / 1124));
  font-weight: bold;
}

.table th,
.table td {
  border: 1px solid gray;
  padding: calc(5 * (100vw / 1124));
  text-align: center;
}

.table thead th {
  background-color: #040650;
  font-weight: bold;
}

.table tbody tr:hover {
  background-color: rgba(8, 0, 230, 0.1);
}

.green {
  display: inline-block;
  background-color: rgba(0, 255, 0, 0.1);
  padding: calc(3 * (100vw / 1124)) calc(12 * (100vw / 1124));
  border: 1px solid green;
  border-radius: 5px;
}